<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aishang.springboot.dao.OrdertbMapper">
  <resultMap id="BaseResultMap" type="com.aishang.springboot.po.Ordertb">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="orderID" jdbcType="INTEGER" property="orderid" />
    <result column="webName" jdbcType="VARCHAR" property="webname" />
    <result column="productName" jdbcType="VARCHAR" property="productname" />
    <result column="productType" jdbcType="VARCHAR" property="producttype" />
    <result column="orderCount" jdbcType="INTEGER" property="ordercount" />
    <result column="orderDate" jdbcType="TIMESTAMP" property="orderdate" />
    <result column="agent" jdbcType="VARCHAR" property="agent" />
  </resultMap>
</mapper>