<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aishang.springboot.dao.SalaryMapper">
  <resultMap id="BaseResultMap" type="com.aishang.springboot.po.Salary">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="salaryID" jdbcType="VARCHAR" property="salaryid" />
    <result column="employeeID" jdbcType="VARCHAR" property="employeeid" />
    <result column="position" jdbcType="VARCHAR" property="position" />
    <result column="wage" jdbcType="INTEGER" property="wage" />
  </resultMap>
</mapper>